@model DavistaArchitect.Models.ViewModels.ChangePasswordVM

@{
    ViewData["Title"] = "Change Password";
}


<header class="bg-dark" style="min-height: 100px;"></header>
<section class="container border-1 rounded-3 p-4 my-6 shadow">
    <div class="container my-4">
        <h2>@ViewData["Title"]</h2>
        <h3><i class="fa-solid fa-user fs-5 text-black"></i>: <span class="text-black">@Model.UserName</span></h3>
    </div>
    <hr />
    <form asp-action="ManagePassword" method="post">
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="UserName" />
        <div class="form-group">
            <label for="OldPassword">Old Password:</label>
            <input type="password" class="form-control" id="OldPassword" name="OldPassword" required>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="NewPassword">New Password:</label>
            <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="ConfirmPassword">Confirm Password:</label>
            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Change Password</button>
        <a asp-controller="UserRoles" asp-action="Index" class="btn btn-danger mt-2"> <i class="fa-solid fa-arrow-left"></i> Back</a>
    </form>
</section>
