<section id="contactus" class="contact py-5 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-none d-md-block">
                <div class="image-container">
                    <img src="images/contact.png" alt="" class="img-fluid" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-container ">
                    <h2 class="pt-2">
                        Contact Us For A Quote</h2>

                    <form>
                        <div class="mb-3">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Enter name" />
                        </div>
                        <div class="mb-3">
                            <input type="email"
                                   class="form-control"
                                   placeholder="Enter email" />
                        </div>
                        <div class="mb-3">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Enter phone" />
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control"
                                      placeholder="Enter message"
                                      rows="5"></textarea>
                        </div>
                        <div class="d-grid gap-2 ">
                            <input type="submit"
                                   value="Send"
                                   class="btn btn-primary btn-block text-white" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
