<!-- Process -->
<section class="points py-6 bg-info">
    <div class="container">
        <div class="row text-center mb-5 ">
            <div class="col-md-8 offset-md-2">
                <h2>
                    Architectural Design Process
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="d-flex gap-3">
                    <div class="number">
                        <span class="bg-info py-2 px-4 fs-3 rounded-circle">
                            1
                        </span>
                    </div>
                    <div>
                        <h3 class="fs-4">Enhance Your Skills</h3>
                        <p>
                            Our training videos provide comprehensive insights and
                            practical tips to help you enhance your skills in various
                            domains. From technical expertise to soft skills, we've got
                            you covered.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="d-flex gap-3">
                    <div class="number">
                        <span class="bg-info py-2 px-4 fs-3 rounded-circle">2</span>
                    </div>
                    <div>
                        <h3 class="fs-4">Stay Updated</h3>
                        <p>
                            Keep pace with the latest industry trends and advancements
                            through our informative and up-to-date videos. Stay ahead of
                            the curve and broaden your knowledge.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="d-flex gap-3">
                    <div class="number">
                        <span class="bg-info py-2 px-4 fs-3 rounded-circle">3</span>
                    </div>
                    <div>
                        <h3 class="fs-4">Connect with Experts</h3>
                        <p>
                            Our platform allows you to connect with like-minded
                            individuals and industry experts. Expand your network, foster
                            new connections, and unlock new opportunities.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-4">
                <div class="d-flex gap-3">
                    <div class="number">
                        <span class="bg-info py-2 px-4 fs-3 rounded-circle">4</span>
                    </div>
                    <div>
                        <h3 class="fs-4">Flexible Learning</h3>
                        <p>
                            Our training videos are available on-demand, allowing you to
                            learn at your own pace and convenience. Access the content
                            anytime, anywhere, and tailor your learning experience.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
