﻿<section id="projects" class="projects py-6">
    <div class="container">
        <h2 class="text-center pb-4">
            Some Of Our <span class="text-secondary">Projects</span>
        </h2>
        <!-- Projects Row 1 -->
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card border-0 ">
                    <img class="rounded-3" src="images/urban-design.jpeg" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Office space for banking</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Dolore, impedit.
                            <a href="article.html">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <img class="rounded-3" src="images/executive-houses.jpeg" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Planning and design for startup</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Dolore, impedit.
                            <a href="article.html">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <img class="rounded-3" src="images/alterations-and-additons.jpeg" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Colors & materials update</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Dolore, impedit.
                            <a href="article.html">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Projects Row 2 -->
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card border-0 ">
                    <img class="rounded-3" src="images/urban-design.jpeg" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Office space for banking</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Dolore, impedit.
                            <a href="article.html">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <img class="rounded-3" src="images/executive-houses.jpeg" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Planning and design for startup</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Dolore, impedit.
                            <a href="article.html">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <img class="rounded-3" src="images/alterations-and-additons.jpeg" alt="" />
                    <div class="card-body">
                        <h5 class="card-title">Colors & materials update</h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Dolore, impedit.
                            <a href="article.html">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>