@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<section>
    <header class="bg-black" style="height:100px;"></header>
</section>

<header class="conatiner mt-6">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
